<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bank.css">
    <title>銀行匯率資訊</title>
</head>

<body onload="getTime()">
    <div id="contanier">
        <h1>銀行匯率表格</h1>
        <div class="nowtime">
            <p>現在時間:<span id="date">{{date}}</span></p><br>
        </div>
        <div class="retime">
            <p>銀行更新時間:{{cointime}}</p>
        </div>

        <table border="1">
            <thead>
                <tr id="rowtitle">
                    {% for th in columns %}
                    <th>{{th}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for value in values %}
                <tr>
                    {% for td in value %}
                    <td id="bankvalue">{{td}}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
    </div>
    <script src="/static/js/bank.js"></script>
</body>

</html>